@{
    ViewBag.Title = "Index";
    Layout = "";
}
<html ng-app="myApp">
    <head>
<link href="~/Content/Dallas.css" rel="stylesheet" />
<link href="~/Content/federal.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>


<script src="~/app/app.js"></script>
        <script src="~/app/entities.js"></script>


		<style>
		body
		{
            background:beige;
            //margin:0px;
            //padding:0px;
		}
		#thing
		{
		    background: white;
		    box-shadow: 0 0 10px black;
		    position: absolute;
		    //top: 25px;
            z-index:20;
            width:40%;
            height:98%;
            margin:0px;
            padding:0px;

             -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
		}
		    .out
		    {
                right:-500px;
                opacity:0;

		    }

        .in
		    {
                right:25px;
                opacity:.25;
		    }

		#abs{
		    width:450px;
		    height:75px;
		    position:absolute;
		    z-index:19;
		    top:0px;
		    
		}
		/*img{
		    height:400px;
		    width:400px;  
		}*/
		.topMenu
		{
            height:65px;
            width:65px;
            float:left;
            margin:10px;
            box-shadow: 5px 5px 5px #888888;
		}
		    /*#impressWrapper
		    {
                width:60%;
                height:100%;
		    }*/

    #impressWrapper{
    width: 99%;
    height: 99%;
    //border: 1px solid navy;
    overflow: hidden;
    position: relative;
}


		</style>
</head>
<body ng-controller="myC">
            <div id="thing" class="out">
                <div id="fromAngular">{{hello}}</div>
                 <div ng-repeat="e in entities">
                    {{e.src}}
                </div>
            </div>

            <div id="abs">
                    <a id="overviewLink" href="#overview"><img class="topMenu" src="../../images/compass.jpg" alt="" /></a>
                    <a href="#DallasOverview"><img class="topMenu" src="../../images/icon_Dallas.jpg" alt="" /></a>
                    <a href="#DallasCountyOverview"><img class="topMenu" src="../../images/icon_DallasCounty.jpg" alt="" /></a>
                    <a href="#TexasOverview"><img class="topMenu" src="../../images/icon_Texas.png" alt="" /></a>
                    <a id="federalLink" href="#FederalOverview"><img class="topMenu" src="../../images/icon_US.jpg" alt="" /></a>
            </div>



        <div id="impressWrapper">



		    <div id="impress">
  
                     <div id="overview" class="step" data-x="0" data-y="0" data-z="0" data-scale="1.5"></div>

@*                    <div id="congress" class="step" data-x="-200" data-y="0">
                        <img src="../../images/federal/capitol.PNG" alt="" />
                    </div>*@


                    <img id="legislative" />
                    <img id="executive" />
                    <img id="judicial"  />

                    <img id="uscode" />
                    <img id="constitution" />
                    <img id="house"  />
                    <img id="senate"  />
                    <img id="courts"  />

@*                     <div class="step" data-ng-repeat="e in entities" data-x="{{e.x}}" data-y="{{e.y}}"  id="{{e.name}}">
                         <img src="{{e.src}}" />
                    </div>*@
		    </div>
        </div>
	
    </body>
<script>
    var w = window.innerWidth;
    $("#abs").css('left', ((w / 2) - 600));

</script>

<script>

    //$(document).ready(function () {

        $.each(entities, function (i, x) {
            $("#" + entities[i]["name"]).attr({ "data-x": entities[i]["x"], "data-y": entities[i]["y"], "src": entities[i]["src"], "class":"step" });
        });

        $("#overviewLink").click(function () {
            //$("#thing").animate({
            //    opacity: 0,
            //    right: "-500px"
            //    //height: "toggle"
            //}, 500, function () {
            //    // Animation complete.
            //});

            $("#thing").removeClass('in');
            $("#thing").addClass('out');

            $("#impressWrapper").animate({
                width: '99%'
            },
            500, function () {
            });
        });


        $("#federalLink").click(function () {
            $("#thing").animate({
                opacity: .25,
                right: "25px"
            }, 500, function () {
                // Animation complete.
            });
        });


        $(document).on('impress:stepenter', function (e) {
            var currentSlide = $(e.target).attr('id');
            console.log(currentSlide);

            if (currentSlide === 'legislative') {
                //$("#Dallas").attr('data-scale', 25);
                console.log("got to Dallas");

                $("#thing").removeClass('out');
                $("#thing").addClass('in');

                $("#impressWrapper").animate({
                        width:'60%'},
                        500, function () {
                    });
                    //$("#thing").animate({
                    //    //opacity: 1,
                    //    //right: "25px"
                    //    class:"newer"
                    //}, 500, function () {
                    //    // Animation complete.
                    //});
             



                //setTimeout(api.next, 2000);
            } else if (currentSlide === 'slide3') {
                window.location = 'http://www.google.com/';
            }
        });
   // });




</script>
    <script type="text/javascript" src="impress.js"></script>
<script type="text/javascript">impress().init();</script>
    </html>














@*    //$("#DallasOverview").attr({ 'data-x': -2000, 'data-y': -1000 });
    //$("#DallasCountyOverview").attr({ 'data-x': 2000, 'data-y': -1000 });
    //$("#TexasOverview").attr({ 'data-x': -2000, 'data-y': 1000 });
    //$("#FederalOverview").attr({ 'data-x': 2000, 'data-y': 1000 });

    //$("#Minnesota").attr({ 'data-x': 2000, 'data-y': 1000, 'data-rotate-y':90 });

    //$("#Dallas").attr('data-x', -2000);
    //$("#Dallas").attr('data-y', -1000);

    //$("#inDallas").attr('data-x', -50);
    //$("#inDallas").attr('data-y', -50);

    //$("#inDallas2").attr('data-x', -500);
    //$("#inDallas2").attr('data-y', -500);

    //$("#DallasCounty").attr('data-x', 2000);
    //$("#DallasCounty").attr('data-y', -1000);

    //$("#Texas").attr('data-x', -2000);
    //$("#Texas").attr('data-y', 1000);

    //$("#Federal").attr('data-x', 2000);
    //$("#Federal").attr('data-y', 1000);

    //console.log($("#fromAngular").html());*@