@{
    ViewBag.Title = "svg";
    Layout = "";
}

<script src="~/Scripts/d3.min.js"></script>


<div id="map"></div>

<script>


    d3.xml('../../images/recolorGreen.svg', "image/svg+xml", function (xml) {
        //var doccer = document.getElementById("map");

        //while (doccer.firstChild) {
        //    doccer.removeChild(doccer.firstChild);
        //}

        document.body.appendChild(xml.documentElement);
        //visualize();

        var h = window.innerHeight - 50;
        var w = window.innerWidth - 100;

        var svg = d3.select("svg")
            //.attr("viewBox", "0 0 600 600")
            .attr("width", w)
            .attr("height", h);
    });


</script>
